{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/entries.css?v=1.0.0">
<link rel="stylesheet" href="/static/css/error.css?v=1.0.0">

<main class="error-container mb-5">
    <div class="error-content mt-5 mb-5">
        <h1 class="error_headline" >Oh no! <br> We have a little problem! (500)</h1>
        <p class="text-center" >We try to solve it as soon as possible!</p>
        <p class="mb-5 text-center">Until then, you can visit us our social medias!</p>
        <a class="CTA-tutorial button mb-3" >Twitter</a>
        <a class="CTA-tutorial button mb-3" >Instagram</a>
    </div>

</main>
{% endblock %}
