{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<link rel="stylesheet" href="/static/css/login.css?v=1.0.0">
<div class="createprofile_container">
    <div class="registerdiv" style="grid-template-areas: 'login';grid-template-columns: 1fr; height:350px">
        <div class="login">
            <b><p>If your email address is correct, in short you will recieve an email<br>
                to reset your password. </p></b>
        </div>
    </div>
</div>


{% endblock %}
