{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<link rel="stylesheet" href="/static/css/login.css?v=1.0.0">
<div class="createprofile_container">
    <div class="registerdiv" style="grid-template-areas: 'login';grid-template-columns: 1fr;">
        <div class="login">
            <h1>Change password</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p}}
                <span style="display: inline-block;width:20%;"></span>
                <input type="submit" value="change" class="button-login" style="margin-left: auto;
                margin-right: auto;"><span style="display: inline-block;
                width:20%;"></span>
            </form>
        </div>
    </div>
</div>

{% endblock %}
