{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="/static/css/profile.css?v=1.0.0">
<link rel="stylesheet" href="/static/css/entries.css?v=1.0.0">
<div class="row">
	<div class="col-2 rectangle desktop-only">
	</div>
	<div class="col-12 col-sm-12 rectangle col-md-10">
		<div class="mainheading">
			<b>Settings</b>
		</div>
	</div>
</div>

<div class="row" id="Loggedincontent">
    {% include "includes/left-menu.html" %}
	<div class="col-12 col-sm-12 col-md-10" id="InputContent" style="border-left-style:unset;">
		<div class="settings-content">
            <div>
                <h1>Change password:</h1>
                <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper" style="color:var(--red);">
                        {{ field.errors }}
                    </div>
                {% endfor %}
                    <div class="form-group row">
                        <label for="id_old_password" class="col-sm-4 col-form-label"><b>Current password:</b></label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="id_old_password" autofocus="" required name="old_password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id_new_password1" class="col-sm-4 col-form-label"><b>New password:</b></label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="id_new_password1" required name="new_password1">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id_new_password2" class="col-sm-4 col-form-label"><b>Repeat new password:</b></label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="id_new_password2"  required name="new_password2">
                        </div>
                    </div>
                    <ul>
                        <li>The password must not be too similar to your other personal information.</li>
                        <li>The password must contain at least 8 characters.</li>
                        <li>The password must not be common.</li>
                        <li>The password must not consist completely of digits.</li>
                    </ul>
                    <div style="text-align: right;">
                        <a class="button" href="/accounts/profile/" style="color:var(--darkblue);border-color:var(--darkblue);background-color:white;font-weight:bold;border-style: solid;border-width: 1px;">Cancel</a>
                        <input type="submit" class="button" style="background-color:var(--red);font-weight: bold;line-height: 14px;" value="Change">
                    </div>
                </form>
            </div>
		</div>
	</div>
</div>

{% endblock %}
