{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<link rel="stylesheet" href="/static/css/login.css?v=1.0.0">

<div class="createprofile_container">
    <div class="registerdiv" style="grid-template-areas: 'login';grid-template-columns: 1fr;height:450px;">
        <div class="login">
            <b>
                <p>
                    Your password has been reset successfully.
                </p>
                <p>
                    Go to <a href= "/accounts/profile/" style="color: var(--primary);">Settings</a>
                </p>
            </b>
        </div>
    </div>
</div>

{% endblock %}
