.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.wrapper{
    margin-right: 0;
}
.challenges-container {
    display: grid;
    grid-template-areas: "challenges-container";
    grid-template-columns: 1fr;
}

.challenges-content {
    grid-area: challenges-container;
    gap: 0;
    height: 83vh;
    overflow-y: scroll;
    grid-template-areas:
            "challengeintroduction"
            "alltitel"
            "all"
            "category1titel"
            "category1"
            "category2titel"
            "category2"
            "category4titel"
            "category4"
            "category3titel"
            "category3"
            "specialtitel"
            "special";
}

.category1titel, .category4titel, .category2titel, .alltitel, .category3titel, .specialtitel{
    display: grid;
    margin-top: 20px;
    border-bottom: 2px solid #eaeef1;
    margin-right: 20px;

}
.challengeintroduction{
    display: grid;
    grid-area:challengeintroduction;
    margin-top: 50px;
}

.category1titel{
    grid-area: category1titel;

}
.category4titel{
    grid-area: category4titel;
}
.category3titel{
    grid-area: category3titel;
}

.category2titel{
    grid-area:category2titel;
}

.alltitel{
    grid-area: alltitel;
}
.speicaltitel{
    grid-area: specialtitel;
}

.challengetitel {
    font-size: 1.2em;
    font-weight: bold;

}
.introductiontext{
    font-size: 1em;
}
.badge-game {
    max-width: 60%;
    margin-left: 20px;
    transition: transform 250ms;
    transition-timing-function: ease-out;
}
.badge-game:hover {
    transform: scale(1.1);

}
.badge-special {
    max-width: 100%;
    margin-left: 20px;
    transition: transform 250ms;
    transition-timing-function: ease-out;
}
.badge-special:hover {
    transform: scale(1.1);

}




.category1, .special, .all, .category2, .category3, .category4 {
    display: grid;
    align-content: center;
    margin-right: 10px;
    padding-bottom: 20px;
    margin: 40px 0;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;

}


.special {
    display: grid;
    align-content: center;
    margin-right: 10px;
    padding-bottom: 100px;
    margin: 40px 0;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;

}
.category1{
    grid-area: category1;
    }

.special{
    grid-area: special;
  }

.all{
    grid-area: all;
  }

.category2{
    grid-area: category2;
  }
.category4{
    grid-area: category4;
  }

.category3{
    grid-area: category3;
  }




@media (max-width:568px){
    .challenges-container {
        display: grid;
        grid-template-areas: ". challenges-container .";
        grid-template-columns: 1fr 12fr 1fr;
    }

    .challenges-content {
        grid-area: challenges-container;
        gap: 0;
        height: 100%;

        grid-template-areas:
                "challengeintroduction"
                "alltitel"
                "all"
                "category1titel"
                "category1"
                "category2titel"
                "category2"
                "category4titel"
                "category4"
                "category3titel"
                "category3"
                "specialtitel"
                "special";
    }
    .category1, .special, .all, .category2, .category3, .category4 {
        display: grid;
        align-content: center;
        min-height: 250px;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap:10px;
    }
    .badge-game {
        max-width: 80%;
        margin-left: 0;
    }

    .scale-in-center {
        -webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
        animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
    }
    /* ----------------------------------------------
 * Generated by Animista on 2021-6-15 11:48:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

    /**
     * ----------------------------------------
     * animation scale-in-center
     * ----------------------------------------
     */
    @-webkit-keyframes scale-in-center {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }
    @keyframes scale-in-center {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }

}



