
<div class="col-2 desktop-only" style="position: relative;">
<div class="menuleft">
	<p><a href="/observations/overview/" {% if "/observations/overview/" in request.path %} class="font-weight-bold"{% endif %}>Overview</a></p>
	<p><a href="/observations/make-entry/" {% if "/observations/make-entry/" in request.path %} class="font-weight-bold"{% endif %}>Make Entry</a></p>
	<p><a href="/observations/show-my-list/" {% if "/observations/show-my-list/" in request.path %} class="font-weight-bold"{% endif %}>My List</a></p>
	<p><a href="/offline/overview"{% if "/offline/overview/" in request.path %} class="font-weight-bold"{% endif %}>Offline Interface</a></p>
	<p><a href="/observations/challenges/" {% if "/observations/challenges/" in request.path %} class="font-weight-bold"{% endif %}>Challenges</a></p>
	<p><a href="/observations/rank/" {% if "/observations/raank/" in request.path %} class="font-weight-bold"{% endif %}>Ranking</a></p>
	<p><a href="/observations/flagged-entries/" {% if "/observations/flagged-entries/" in request.path %} class="font-weight-bold"{% endif %}>Admin</a></p>
	<p><a href="/accounts/profile/" {% if "/accounts/" in request.path %} class="font-weight-bold"{% endif %}>Settings</a></p>
</div>
</div>

	